{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Bienvenue sur Chat Mercure</h1>
        <p>Application de chat en temps réel</p>
    </div>
</div>
{% endblock %}
