{% extends 'base.html.twig' %}

{% block title %}Conversation avec {{ recipient.username }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Messages
                </div>
                <div class="card-body">
                    <div class="overflow-y-auto"
                         id="messages"
                         style="max-height: 500px;">
                    </div>
                    <hr>
                    <form class="d-flex gap-3 mt-3 hx-post="{{ path('message.create') }} hx-swap="none">
                        <input aria-label="Message"
                                type="text"
                                class="form-control"
                                name="content"
                               placeholder="Message"
                                id="content"
                        >
                        <input type="hidden"
                               name="conversationId"
                               value="{{ conversation.id }}">
                        <button type="submit" class="btn btn-primary">Envoyer</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}